<!DOCTYPE html>
<html>

<head>
	<%- include partials/htmlhead %>
</head>

<body>

	<header>
		<%- include partials/header %>
	</header>
	<main>
		<% if(tasks) { %>
		<div class="container">
			<div class="row">
				<img src="images/find-task.png" class="img-thumbnail mx-auto d-block"
					style="width:10%; height:10%; border:0;">
			</div>
			<h5 class="font-weight-bold text-center">Looking for a quick job?</h5>
			<br />
			<!-- <form class="form-inline my-2 my-lg-0" method="post" action="/search">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
					name="searchterm" required>
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form> -->
			<br />
			<% if(tasks.length==0) { %>
			<%- include partials/notaskfound %>
			<% } else { %>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-sm-8">
						<table class="table table-striped" id="usersTable">
							<thead>
								<tr>
									<th scope="col">Posted by</th>
									<th scope="col">Job Title</th>
									<th scope="col">Start Date/Time</th>
									<th scope="col">Compensation</th>
									<th scope="col">Category</th>
									<th scope="col">Action</th>
								</tr>
							</thead>

							<tbody>
								<% tasks.forEach(function(task) { %>
								<tr>
									<td><%= task.firstname %>&nbsp;<%= task.lastname %></td>
									<td><%= task.title %></td>
									<td><%= task.startdate %></td>
									<td><%= task.payamt %></td>
									<td><%= task.categoryname %></td>
									<td>
										<a class="btn btn-primary" href="/bid?task=<%= task.taskid %>"
										role="button">
											Bid
										</a>
									</td>
								</tr>
								<% }); %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<% } %>
		</div>
		<% } else { %>
		<%- include partials/notask %>
		<% } %>
	</main>

	<footer>
		<%- include partials/footer %>
	</footer>

	<%- include partials/htmlscripts %>
	<script>
		$(document).ready(function () {
			$('#usersTable').DataTable();
		});
	</script>

</body>

</html>