<!DOCTYPE html>
<html>

<head>
	<%- include partials/htmlhead %>
</head>

<body>

	<header>
		<%- include partials/header %>
	</header>
	<main>
		<% if(editStatus.status==="fail") { %>
		<div class="container">
			<h6 class="font-weight-light text-danger text-center">
				Edit task failed. Please try something else.
			</h6>
		</div>
		<% } %>
		<% if(tasks) { %>
		<div class="container">
			<div class="row">
				<img src="images/find-employee.png" class="img-thumbnail mx-auto d-block"
					style="width:10%; height:10%; border:0;">
			</div>
			<h5 class="font-weight-bold text-center">Tasks you have posted!</h5>
			<br />
			<div id="accordion">
				<% tasks.forEach(function(task) { %>
				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="heading<%= task.taskid %>">
							<div class="row">
								<h2 class="mb-0 col-8">
									<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
										data-target="#collapse<%= task.taskid %>" aria-expanded="false"
										aria-controls="collapse<%= task.taskid %>">
										<%= task.title %>
									</button>
								</h2>
								<div class="col-4 btn-group" role="group" aria-label="Task Buttons">
									<a class="btn btn-primary col-6" href="/task?function=edit&num=<%= task.taskid %>"
										role="button">
										Edit
									</a>
									<a class="btn btn-danger col-6" href="/task?function=delete&num=<%= task.taskid %>"
										role="button">
										Delete
									</a>
								</div>
							</div>
						</div>
						<div id="collapse<%= task.taskid %>" class="collapse"
							aria-labelledby="heading<%= task.taskid %>" data-parent="#accordionExample">
							<div class="card-body">
								you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
			<% } else { %>
			<%- include partials/notask %>
			<% } %>
	</main>

	<footer>
		<%- include partials/footer %>
	</footer>

	<%- include partials/htmlscripts %>
	
</body>

</html>